@font-face {
    font-family: 'Stolzl-bold';
    src: url("stolz/stolzl_bold.ttf") format("truetype");
}
@font-face {
    font-family: 'Stolzl-book';
    src: url("stolz/stolzl_book.ttf") format("truetype");
}
@font-face {
    font-family: 'Stolzl-light';
    src: url("stolz/stolzl_light.ttf") format("truetype");
}
@font-face {
    font-family: 'Stolzl-medium';
    src: url("stolz/stolzl_medium.ttf") format("truetype");
}
@font-face {
    font-family: 'Stolzl-regular';
    src: url("stolz/stolzl_regular.ttf") format("truetype");
}
@font-face {
    font-family: 'Stolzl-thin';
    src: url("stolz/stolzl_thin.ttf") format("truetype");
}
